<div>
  <button routerLink="add"  class="btn btn-primary">Thêm</button>
  <table class="table">
    <thead>
      <th scope="col">STT</th>
      <th scope="col">Tên</th>
      <th scope="col">Giá</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i" scope="row">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button routerLink="{{ product.id }}/edit" class="btn btn-primary">
            Sửa
          </button>
          <button (click)="removeItem(product.id)" class="btn btn-danger">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
